.profile {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 74px;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.profile__form {
  padding-top: 123px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.profile__label{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__label:first-child{
  padding-bottom: 16px;
  border-bottom: 1px solid #E8E8E8;
}

.profile__input{
  margin-left: auto;
  text-align: right;
  border: 0;
  outline: none;
  overflow: hidden;
  padding: 0 0 0 20px;
  font-weight: 400;
}

.profile__input:focus{
  color: #AAA;
}

.profile__submit {
  margin-top: 202px;
  background-color: transparent;
  border: none;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
}

.profile__logout {
  padding: 16px 0 40px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #EE3465;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 230px;
  }
  .profile__form {
    padding-top: 97px;
  }
  .profile__submit {
    margin-top: 191px;
  }
}

@media screen and (max-width: 520px) {
  .profile {
    max-width: 260px;
    padding-top: 70px;
  }
  .profile__form {
    padding-top: 81px;
  }
  .profile__submit {
    margin-top: 360px;
  }
  .profile__submit {
    font-size: 12px;
    line-height: 15px;    
  }
  .profile__logout {
    font-size: 12px;
    line-height: 15px;    
  }
}