.error {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 400px;
  width: 100%;
  align-items: center;
  margin-top: 250px;
}

.error__title {
  font-weight: 400;
  font-size: 140px;
  margin: 0;
}

.error__message {
  padding-bottom: 184px;
  margin: 10px 0 0;
}

.error__button {
  background-color: transparent;
  color: #3456F3;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .error {
    margin-top: 412px;
  }
}

@media screen and (max-width: 375px) {
  .error {
    margin-top: 332px;
  }
  .error__title {
    font-size: 80px;
  }
  .error__message {
    padding-bottom: 282px;
    font-size: 12px;
    line-height: 15px;
    margin: 13px 0 0;
  }
  .error__button {
    font-size: 12px;
    line-height: 15px;
  }
}