
.portfolio__container {
  margin: 0 auto;
  padding: 0 70px 144px;
  max-width: 1280px;
  box-sizing: border-box;
}

.portfolio__title {
  margin: 0 0 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 39px;
}

.portfolio__item {
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__website {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 30px;
  line-height: 50px;
  text-decoration: none;
  color: #000;
  transition: opacity 0.4s ease;
  letter-spacing: -0.04em;
}

.portfolio__website:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .portfolio__container {
    padding: 0 50px 106px;
  }
  .portfolio__website {
    font-size: 28px;
    line-height: 50px;
  }
}
@media screen and (max-width: 375px) {
  .portfolio__container {
    padding: 30px 15px 89px;
  }
  .portfolio__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 39px;
  }
  .portfolio__website {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
}