.footer{
  background-color: #F8F8F8;
}
.footer__container {
  margin: 0 auto;
  padding: 60px 70px 20px;
  max-width: 1280px;
  box-sizing: border-box;
}

.footer__copyright {
  margin: 0;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #A0A0A0;
}

.footer__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 19px 0px;
  gap: 20px;
}

.footer__date {
  order: -1;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-right: auto;
}

.footer__link {
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: #000;
  transition: opacity 0.4s ease;
}

.footer__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .footer__container {
    padding: 60px 30px 20px;
  }
}
@media screen and (max-width: 520px) {
  .footer__container {
    padding: 60px 10px 20px;
  }
  .footer__list {
    flex-direction: column;
    padding-top: 28px;
    gap: 9px;
  }
  .footer__date {
    order: 0;
    margin-right: 0;
    margin-top: 20px;
    font-size: 12px;
    line-height: 15px;
    color: #A0A0A0;
  }
  .footer__copyright{
    font-size: 12px;
    line-height: 15px;
  }
  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }

}